.container-nav {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 0 1rem 0;
}

h1 {
    margin-bottom: 1rem;
    font-size: 3.2rem;
}

.brand {
    font-size: 3.2rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.a-nav {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.a-nav:hover {
    color: rgb(182, 210, 251);
}